#header--checkout, #main--checkout {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#contenedor-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh 0;
}

#contenedor-btns h1 {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 0.2rem;
}

.btn--header {
    display: flex;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--color-03);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vh;
    height: 4vh;
}

.btn--header:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 4.2vh;
    height: 4.2vh;
}

.btn__menu--img {
    height: 1.2rem;
}


/*Listado de productos*/
.card__producto, .card__producto--info, #informacion--pago, #tarjeta  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__producto--info, #tarjeta {
    gap: 1rem;
}

.card__descripcion h2 {
    font-size: 1rem;
}

.card__img img{
    width: 5rem;
    height: 5rem;
    border-radius: var(--secund-border-radius);
    object-fit: cover;
}

.card__cantidad {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card__more {
    display: flex;
    width: 100%;
    justify-content: end;
}

.modificar__cantidad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
}

.modificar__cantidad button, .card__more button {
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 50%;
    background-color: transparent;
}

.card__more button {
    border: none;
}

.modificar__cantidad button {
    border: 1px solid var(--color-03);
}

.btn__mas {
    background-image: url("../storage/svg/addition.svg");
}

.btn__menos {
    background-image: url("../storage/svg/subtraction.svg");

}

.btn__mas,
.btn__menos {
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease-in-out;
}

.btn__mas:hover {
    background-color: var(--color-01);
    cursor: pointer;
    background-image: url("../storage/svg/addition--hover.svg");
}

.btn__menos:hover {
    background-color: var(--color-01);
    cursor: pointer;
    background-image: url("../storage/svg/subtraction--hover.svg");
}

.modificar__cantidad p {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
}

hr {
    border-color: var(--color-03);
    opacity: 0.1;
    margin: 0.8rem 0;
}

.card__categoria {
    color: var(--color-03);
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.card__precio {
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-01);
}

/*Informacion de envio*/
#informacion--envio {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
#informacion--envio h2 {
    margin-top: 3rem;
    font-size: 1rem;
}

#informacion--pago {
    height: 5rem;
    margin: 0.5rem 0;
    padding: 0.5rem 0.8rem;
    background-color: var(--color-04);
    border-radius: var(--secund-border-radius);
}

#informacion--pago, #tarjeta {
    align-items: center;
}

#tarjeta img {
    width: 3.2rem;
}

.informacion--total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9rem;
    color: var(--color-02);
}

/*Footer*/
#footer--checkout {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer--checkout p{
    color: #ffffff;
    font-weight: 700;
}

/*Tablets*/
@media screen and (max-width: 990px){
    
}

/*Móviles*/
@media screen and (max-width:760px){
    #header--checkout, #main--checkout {
        width: 100%;
    }
}