<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Detalles</title>
</head>
<body>
    <main>
        <section id="detail-img">
            <img src="../storage/img/dress-2.jpg" alt="">
            <div id="contenedor-btns">
                <a id="btn--volver" href="../index.html">
                </a>
                <button id="btn--fav" class="btn__fav--img">
                </button>
            </div>
        </section>
        <div>
            <section id="detail--descripcion">
                <div>
                    <div id="nombre--producto">
                        <h1>Vestido de fiesta</h1>
                        <div id="detalle-calificacion">
                            <img src="../storage/svg/star.svg" alt="Estrella">
                            <p>5.0</p>
                            <a href="#">(7,923 reviews)</a>
                        </div>
                    </div>
                    <div id="modificar--cantidad">
                        <button class="btn__menos">
                        </button>
                        <p>1</p>
                        <button class="btn__mas">
                        </button>
                    </div>
                </div>
                <div id="descripcion">
                    <p>Vestido largo de fiesta con diseño elegante y caída fluida. Confeccionado en tela ligera, hombros descubiertos y detalles drapeados que realzan la silueta. Ideal para bodas, galas y eventos especiales</p>
                </div>
            </section>
            <hr>
            <section id="detail-producto">
                <div class="detalle">
                    <h3>Eliga la talla</h3>
                    <div class="detalle__elementos detalle__elementos--talla">
                        <div><p>S</p></div>
                        <div><p>M</p></div>
                        <div><p>L</p></div>
                        <div><p>XL</p></div>
                    </div>
                </div>
                <div class="detalle">
                    <h3>Color</h3>
                    <div class="detalle__elementos detalle__elementos--color">
                        <div id="color--01"></div>
                        <div id="color--02"></div>
                        <div id="color--03"></div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <a id="footer--detalle" href="./checkout.html">
            <img class="icono" src="../storage/svg/shopping-car.svg" alt="Carro de compras">
            <p>Agregar al carrito | Q300.00 <span>Q290.99</span></p>
        </a>
    </footer>
</body>
</html>